h1 {
  font-family: Lobster;
}

body {
  display: block;
  background-image: linear-gradient(#615dad, #ffc8da);
  justify-content: center;
  align-items: center;

}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: calc(50% - (350px / 2));
  width: 350px;
}

img {
  border-radius: 5px 5px 0 0;
}

.piškvorky {
  background-color: #283e50;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 100px;
  font-family: sans-serif;
}

.rules {
  display: flex;
  background-color: #1fcca4;
  cursor: pointer;
  flex-basis: 100%;
  color: #ffffff;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.rules:hover {
  background-color: #1cbb96;
}

.start_game:hover {
  background-color: #0090e9;
}

.start_game {
  display: flex;
  background-color: #0197f6;
  cursor: pointer;
  flex-basis: 100%;
  color: #ffffff;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
