* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0px;
}

h1 {
  font-family: Lobster;
  font-size: 50px;
  margin-top: 30px;
  color: white;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 80vmin;
  height: 80%;
  margin: auto;
}

.play-field {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(48, 46, 46);
  height: 80%;
  width: 80%;
  margin-top: 5px;
  margin: auto;
}

.play-field button {
  border: 1px solid rgb(48, 46, 46);
  cursor: pointer;
  width: calc(100% / 10);
  height: calc(100% / 10);
  background-color: transparent;
}

button:hover {
  background-color: #e1b6f3;
}

.play {
  display: flex;
  align-items: center;
}

.game_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  color: white;
  font-family: sans-serif;
  width: 80%;
}

.home,
.restart {
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
}

.icons {
  display: flex;
}

img.home,
img.restart {
  padding: 0.5rem;
}

.home {
  background-color: #1fcca4;

}

.restart {
  background-color: #0197f6;
  margin-left: 0.5rem;
}

.home:hover {
  background-color: #1cbb96;
}

.restart:hover {
  background-color: #37a8ef;
}

.circle {
  border: 3px solid white;
  border-radius: 50%;
  background: none;
  width: 24px;
  height: 24px;
  align-self: center;
  margin-left: 5px;
}

/* .cross {
  background: rgb(255, 255, 255);
  height: 100px;
  position: relative;
  width: 20px;
  transform: rotate(45deg);
}

.cross:after {
  background: rgb(255, 255, 255);
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;

} */

.cross {
  background-image: url("pictures/cross.svg");
  width: 24px;
  height: 24px;
  margin-left: 3px;
  filter: invert(100%);
}

.board__field--circle {
  background-image: url("pictures/circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.board__field--cross {
  background-image: url("pictures/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
